body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

/* Estilo para a marca "LLG" */
.navbar .fancy {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.5rem;
}

/* Link de navegação */
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #b79ded !important;
}


.welcome {
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: 1.2px;
}

/* Card Hover Effect */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Cores personalizadas */
.bg-venda {
    background-color: #5F2885;
}
.bg-estoque {
    background-color: #8951AE;
}
.bg-produto {
    background-color: #9B6FB3;
}
.bg-relatorio {
    background-color: #A076BC;
}

.card-footer span, .card-footer i {
    font-size: 0.85rem;
    color: #fff;
}
