/* Estilo modernizado da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    font-size: 0.9rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  }
  
  thead, th {
    background-color: #5F2885 !important;
    color: #fff !important;
  }
  
  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #f2f2f2;
  }
  
  tbody > tr:hover {
    background-color: #e9e2f5;
    transition: 0.2s;
  }
  
  .tableAction {
    padding: 5px;
    color: #fff !important;
    border-radius: .25rem;
  }
  
  .tableAction.edit {
    background-color: #0C592D;
  }
  
  .tableAction.del {
    background-color: #790707;
  }
  